<!-- app/views/splash/index.html.erb -->
<h1>Budge it</h1>
<p>YOU control of your finances</p>

<%= link_to 'Sign Up', new_user_registration_path, class: 'btn' %>
<%= link_to 'Log In', new_user_session_path, class: '' %>
