@import "font-awesome";
body {
  font-family: 'Prima Nova', sans-serif;
  background: #ecedef;
}

a{
  text-decoration: none;
}
.btn:hover {
  background-color: #3778c2;
  color: white;
}


.logo{
  font-family: 'DM Serif Display', serif;
  font-size: 120px;
  margin: 200px 0;
}

.first-color{
  color: #434b54;
}

.second-color{
  color: #5fb523;
}

.third-color{
  color: #3778c2;
}

.white{
  color: #ffffff;
}

.flex{
  display: flex;
}
.flex-col{
 flex-direction: column;
}
.center{
  align-items: center;
  text-align: center;
}
.justify-between{
  justify-content: space-between;
}

.btn-primary{
  font-size: 20px;
  font-weight: 400;
}
.btn{
  height: 30px;
  padding: 30px;
}
.full-width{
  width: 80%;
  margin: auto;
}
.form-field{
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #ccd1d7;
  padding: 25px;
}

.fuller-width{
  width: 100%;
}
.back-icon{
 width: 6%;
}
.top-div{
  background: #3778c2;
  margin: 20px;
}
.next-btn{
  border: none;
  background-color: #3778c2;
}
.actions{
  width: 10%;
}
.white-bck{
  background-color: #ffffff;
  width:94%;
  margin: auto;
  padding: 20px 0;
}